{% extends 'base.html' %}

{% block title %}The Barbarian Prince{% endblock %}

{% block linkcolor %}#3BB046;{% endblock %}

{% block extracss %}
#hexmap {
    margin-left: -195px;
    border: 3px solid black;
}
h1, h2, h3, h4 {
    color: #2E7745;
}
{% endblock %}

{% block header %}
<h1>The Barbarian Prince</h1>

<div id="introduction" class="write-up">
    <p>TODO</p>
</div>

<h2>The Lands of the Barbarian Prince</h2>
<img id="hexmap" src="barbarian.jpg" alt="The Lands of the Barbarian Prince" usemap="#hexenmap">
{% endblock %}

{% block footer %}
<div id="about" class="write-up">
    <h2>About this Project</h2>
    <p>Based off the work I did for <a href="http://save.vs.totalpartykill.ca/grab-bag/hexenbracken/">The Hexenbracken</a>. A bunch of <a href="https://github.com/funkaoshi/hexenbracken">Python code</a> turns a <a href="https://docs.google.com/spreadsheets/d/15N4beAStRAkS1nqKJ7Dt3owjo1vT_MZXVveh5muYgbc/edit#gid=1446881270">Google Spreadsheet</a> into the page you see.</p>
</div>
{% endblock %}
