{% extends 'base.html' %}

{% block title %}Gongburg Solitudes{% endblock %}

{% block extracss %}
h1, h2, h3, h4 { color: #f5a228; }
a, .hex:hover .location a.permalink { color: #d89014; }
img#hexmap { margin-left: 21px; }
{% endblock %}

{% block header %}
<h1>Gongburg</h1>

<div id="introduction" class="write-up">
    <p>Bumpkins, Depression, Sham Finery: Gongburg has it all. Adventure within the ruins of the once great Imperial Empire. Truly it was the empire to end all empires.</p>
</div>

<h2>The Environs of the Gongburg Solitudes</h2>
<img id="hexmap" src="gongburg.jpg" alt="Gongbug" usemap="#hexenmap">
{% endblock %}

{% block footer %}
<div id="about" class="write-up">
    <h2>About this Project</h2>
    <p>Gus posted this map on Google+ and <a href="https://plus.google.com/113442337943907897939/posts/g9VgTcEmqJQ">asked for help filling in the hexes</a>. This page is based on work I did for the <a href="http://save.vs.totalpartykill.ca/grab-bag/hexenbracken/">Hexenbracken</a>. Contributors: {{ authors }}.</p>
</div>
{% endblock %}
