{% extends 'base.html' %}

{% block title %}The Kraal{% endblock %}

{% block extracss %}
#hexmap {
margin-left: -26px;
border: 3px solid black;
}
{% endblock %}

{% block header %}
<h1>The Kraal</h1>

<h2>A Map of the Kraal</h2>
<img id="hexmap" src="thekraal.jpg" alt="The Kraal" usemap="#hexenmap">
{% endblock %}

{% block footer %}
<div id="about" class="write-up">
    <h2>About this Project</h2>
    <p>
    Like <a href="http://save.vs.totalpartykill.ca/grab-bag/hexenbracken/">The Hexenbracken</a> before it, this is another attempt to crowdsource a hex crawl. This time I turned the resulting comment thread into a <a href="https://docs.google.com/spreadsheet/ccc?key=0Aut5jjG23OrWdDVHSVBXc3diaFFfQ29tbXRyWXZBc2c">Google Doc</a>, which was then cleaned up with the help of <a href="http://www.necropraxis.com/">Brendan Strejcek</a>, <a href="https://plus.google.com/116156520511467455207/about">James Young</a>, <a href="https://plus.google.com/112721851706837901923/about">Ben Hannigan</a> and <a href="http://metalvsskin.blogspot.ca/">Joey Lindsey</a>. A bunch of <a href="https://github.com/funkaoshi/hexenbracken">Python code</a> turns that into the page you see.
    <p>A big thank you to <a href="http://dndwithpornstars.blogspot.com/">Zak Smith</a> for organizing and to all the contributors: {{ authors }}.
    </p>
</div>
{% endblock %}
